.as 
{
	
  
	
}
.as1
{
	    margin-left: 225px;
    margin-top: -493px;
}
.as2
{
    margin-left: 210px;
    margin-top: -500px;
}
.we
{
	    border: 10px solid black;
    width: 541px;
    height: 502px;
    margin-left: 371px;
   margin-top: -88px;
}
.op{
	    margin-left: -321px;
    margin-top: -507px;
}
.lp
{
	  margin-left: -608px;
  margin-top: -453px;
}
.op1
{
margin-left: -103px;
    margin-top: -492px;
	
}